/* Write your CSS code here */
.currency-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading {
  color: #00e7ff;
  font-size: 40px;
  padding-left: 20px;
}

.bg-img {
  width: 80%;
  height: 250px;
}

.currency-item-card {
  width: 80%;
  border: 3px solid #00e7ff;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-bottom: 30px;
}

.coin-header {
  height: 60px;
  background-color: #092e33;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.list-item {
  display: flex;
  align-items: center;
}

.item {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 6px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: -22px;
  }
  .currency-item-card {
    width: 100%;
  }
  .coin-header {
    height: 60px;
  }
  .item {
    color: white;
    font-size: 16px;
  }
  .currency-item-card {
    margin-left: 30px;
  }
}
